@*@model AzureCalc.Models.CalcOutput

<div>
    <h4>CalcOutput</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Operator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Operator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalVal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalVal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
*@